<h1>Show users </h1>

<div>
 <span><%= @user.photo %></span>
 <span>
  <h3><%= @user.name %></h3>
  <span>Number of post: <%= @user.posts_counter %></span>
  <p><%= @user.bio %></p>
 </span>
 <% @post.each do |item| %>
    <p><%= p.title %></p>
    <p><%= p.text %></p>
 <% end %>
</div>  