<h1>Show a single post details</h1>

<p>
 <%=@post.title %>
 <%=@post.text %>
 <%=@post.comments_counter %>
 <%=@post.likes_counter %>

</p> 
<% @comment.each do |c| %>
    
    <%= c.text %>
    <% end %>